<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= event.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>User ID:</strong>
    <%= event.user_id %>
  </p>


</div>
